.save-payment-row {
	margin-top: 30px;
}

label {
	min-width: 110px !important;
	text-align: right;
	margin-right: 10px;
}

.checkbox {
	margin-left: 117px;
}

.form-group {
	margin-bottom: 10px !important;
}

.invoice-amount {
	margin-top: 20px;
}

.invoice-amount span {
	font-size: 20px;
}

.content-margin {
	padding: 10px;
}

.panel-heading p {
	margin: 0px;
}

