.activity-con {
	margin-bottom: 20px;
	font-size: 14px;
}

.activity-con ul {
	list-style: none;
}

.activity-con ul li {
	margin-bottom: 10px;
}

.activity-con a {
	color: #A8A9AB;
}

.activity-con a:hover {
	color: #696B6E;
}