<section id="main-content" class="animated fadeInUp">
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>Well done!</strong> You successfully created a new record.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Data Tables</h3>
                    <div class="actions pull-right">
                        <i class="fa fa-expand"></i>
                        <i class="fa fa-chevron-down"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Client</th>
                                <th>Invoice</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>KOCO</td>
                                <td><a href="invoice-view.html" class="text-link">0000001</a></td>
                                <td>Application Development</td>
                                <td>28/03/2015</td>
                                <td>£9,000.00</td>
                                <td class="text-muted">draft</td>
                                <td>
                                    <a class="btn btn-xs btn-square btn-default" href="invoice-view.html" role="button">view</a>
                                    <a class="btn btn-xs btn-square btn-info" href="invoice-create.html" role="button">edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>KOCO</td>
                                <td><a href="invoice-view.html" class="text-link">0000002</a></td>
                                <td>Application Development</td>
                                <td>28/03/2015</td>
                                <td>£9,000.00</td>
                                <td class="text-muted">sent</td>
                                <td>
                                    <a class="btn btn-xs btn-square btn-default" href="invoice-view.html" role="button">view</a>
                                    <a class="btn btn-xs btn-square btn-info" href="invoice-create.html" role="button">edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>KOCO</td>
                                <td><a href="invoice-view.html" class="text-link">0000003</a></td>
                                <td>Application Development</td>
                                <td>28/03/2015</td>
                                <td>£9,000.00</td>
                                <td class="text-muted">viewed</td>
                                <td>
                                    <a class="btn btn-xs btn-square btn-default" href="invoice-view.html" role="button">view</a>
                                    <a class="btn btn-xs btn-square btn-info" href="invoice-create.html" role="button">edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>KOCO</td>
                                <td><a href="invoice-view.html" class="text-link">0000004</a></td>
                                <td>Application Development</td>
                                <td>28/03/2015</td>
                                <td>£9,000.00</td>
                                <td class="text-success">paid</td>
                                <td>
                                    <a class="btn btn-xs btn-square btn-default" href="invoice-view.html" role="button">view</a>
                                    <a class="btn btn-xs btn-square btn-info" href="invoice-create.html" role="button">edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>KOCO</td>
                                <td><a href="invoice-view.html" class="text-link">0000005</a></td>
                                <td>Application Development</td>
                                <td>28/03/2015</td>
                                <td>£9,000.00</td>
                                <td class="text-warning">partial</td>
                                <td>
                                    <a class="btn btn-xs btn-square btn-default" href="invoice-view.html" role="button">view</a>
                                    <a class="btn btn-xs btn-square btn-info" href="invoice-create.html" role="button">edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>KOCO</td>
                                <td><a href="invoice-view.html" class="text-link">0000006</a></td>
                                <td>Application Development</td>
                                <td>28/03/2015</td>
                                <td>£9,000.00</td>
                                <td class="text-danger">overdue</td>
                                <td>
                                    <a class="btn btn-xs btn-square btn-default" href="invoice-view.html" role="button">view</a>
                                    <a class="btn btn-xs btn-square btn-info" href="invoice-create.html" role="button">edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>KOCO</td>
                                <td><a href="invoice-view.html" class="text-link">0000007</a></td>
                                <td>Application Development</td>
                                <td>28/03/2015</td>
                                <td>£9,000.00</td>
                                <td class="text-danger">disputed</td>
                                <td>
                                    <a class="btn btn-xs btn-square btn-default" href="invoice-view.html" role="button">view</a>
                                    <a class="btn btn-xs btn-square btn-info" href="invoice-create.html" role="button">edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-md-8">
                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <p class="text-right invoice_totals"><b>Invoice totals:</b> &nbsp; £63,000.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <a class="btn btn-block btn-success" href="invoice-create.html" role="button"><i class="fa fa-check"></i> Create Invoice</a>
        </div>
    </div>
</section>