<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Invoice Settings</h3>
    <div class="actions pull-right">
      <i class="fa fa-times" data-dismiss="modal"></i>
    </div>
  </div>
  <div class="panel-body">
  <div id="validation-errors"></div>

    <%= render 'form' %>

  </div>
</div>
