<!--sidebar left start-->
<aside class="sidebar sidebar-left">
  <div class="sidebar-profile">
    <div class="avatar">
        <%= image_tag('profile.jpg', class: 'img-circle profile-image', alt: 'profile') %>
        <i class="on border-dark animated bounceIn"></i>
    </div>
    <div class="profile-body dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4>Kingsley Ijomah <span class="caret"></span></h4></a>
        <small class="title">Software Eng.</small>
        <ul class="dropdown-menu animated fadeInRight" role="menu">
            <li class="profile-progress">
                <h5>
                    <span>80%</span>
                    <small>Profile complete</small>
                </h5>
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-primary" style="width: 80%">
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);">
                    <span class="icon"><i class="fa fa-user"></i>
                    </span>My Account</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="icon"><i class="fa fa-envelope"></i>
                    </span>Messages</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="icon"><i class="fa fa-cog"></i>
                    </span>Settings</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);">
                    <span class="icon"><i class="fa fa-sign-out"></i>
                    </span>Logout</a>
            </li>
        </ul>
    </div>
  </div>
  <nav id="main_navigation">
      <h5 class="sidebar-header">Navigation</h5>
      <ul class="nav nav-pills nav-stacked">
          <li class="active">
              <%= link_to dashboard_index_path, :title => 'Dashboard' do %>
                <i class="fa fa-fw fa-tachometer"></i> Dashboard
              <% end %>
          </li>
          <li>
            <%= link_to invoices_path, :title => 'Invoices' do %>
              <i class="fa fa-fw fa-money"></i> Invoices
            <% end %>
          </li>
          <li>
            <%= link_to clients_path, :title => 'Clients' do %>
                <i class="fa fa-fw fa-users"></i> Clients
            <% end %>
          </li>
      </ul>
  </nav>
</aside>
<!--sidebar left end-->