<p>
You are about to send invoice <span id="invoice_no"><%= add_invoice_prefix(@invoice.number) %></span> to
<b id="company">KOCO Company.</b><br>
Please confirm or cancel below to complete transaction.
</p>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-success">Confirm</button>
</div>


