<tr>
  <td><%= number_field(:item, "qty", class: 'form-control qty-input', value: 1) %></td>
  <td><%= select(:item, "item_kind_id", ItemKind.all.collect { |p| [ p.name, p.id ] }, {}, class: 'form-control') %></td>
  <td><%= text_area(:item, "description", class: 'form-control descr-input', rows: 1) %></td>
  <td><%= text_field(:item, "price", class: 'form-control price-input', value: 1, required: true) %></td>
  <td><div class="line-total">£0.00</div></td>
</tr>