<tr>
  <td><input type="number" id="input" class="form-control qty-input" required></td>
  <td>
    <select name="" id="input" class="form-control">
      <option value="">hours</option>
      <option value="">service</option>
      <option value="">product</option>
      <option value="">days</option>
      <option value="">deposit</option>
      <option value="">expenses</option>
    </select>
  </td>
  <td><textarea class="form-control descr-input" rows="1"></textarea></td>
  <td><input type="text" id="input" class="form-control price-input" required></td>
  <td><div class="line-total">£240.00</div></td>
</tr>