#container {
	margin: 20px;
}

.remove-line {
  padding-top: 12px;
  color: #e1e1e1;
}

.remove-line:hover {
  color: inherit;
}

label {
	font-size: 14px;
}

.client-field {
	width: 70% !important;
}

.invoice-header label {
	min-width: 120px;
	text-align: right;
	margin-right: 20px;
}

.invoice-header {
	margin-top: -10px;
}

.discount-field {
	width: 60px !important;
}

.header-row {
	margin-bottom: 30px;
}

.price-input {
	max-width: 75px !important;
}

.qty-input {
	width: 70px !important;
}

.descr-input {
	width: 440px !important;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.list-links li{
	float: left;
	margin-right: 30px;
	font-size: 13px;
}

.list-links a, .notes-row a {
	color: #3878D7;
	font-weight: bold;
}

.list-links a:hover, .notes-row a:hover {
	text-decoration: underline;
}

.notes-row {
	margin-top: 30px;
}

.total {
	font-weight: bold;
	font-size: 15px !important;
	padding: 0px !important;
	margin: 0px !important;
	text-align: right;
}


.items-row table {
	font-size: 13px;
}

.line-total {
	font-weight: bold;
	margin-top: 10px;
}

.reset {
	margin-right: 20px;
}

.invoice-field {
	width: 140px !important;
}
